<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- Clover Permissions -->
    <uses-permission android:name="com.clover.permission.MERCHANT_READ" />
    <uses-permission android:name="com.clover.permission.MERCHANT_WRITE" />
    <uses-permission android:name="com.clover.permission.CUSTOMER_READ" />
    <uses-permission android:name="com.clover.permission.PAYMENT" />
    <!--  <uses-permission android:name="com.clover.permission.CREATE_TENDER" />
    <uses-permission android:name="com.clover.permission.REGISTER_TENDER" />   -->
    <uses-permission android:name="com.clover.permission.ACTION_PAY" />
    <uses-permission android:name="com.clover.permission.MERCHANT_TENDERS" />
    <uses-permission android:name="com.clover.permission.ACTION_REFUND" />

    <!-- Other Permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CloverWooCommerceApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloverWooCommerceApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:label="Dicey Store Credit"
            android:theme="@style/Theme.CloverWooCommerceApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.clover.intent.action.REGISTER_TENDER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="clover.intent.action.PAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="clover.intent.extra.TENDER_LABEL_KEY"
                android:value="Dicey Store Credit 2" />

            <meta-data
                android:name="clover.intent.extra.TENDER_ENABLED"
                android:value="true" />

            <meta-data
                android:name="clover.intent.extra.TENDER_CATEGORY"
                android:value="PAYMENT" />


        </activity>
    </application>

</manifest>